
@{
    ViewBag.Title = "主页";
    Layout = "~/Areas/Product/Views/Shared/Product/_LayoutBetterHUD.cshtml";
}

<script>
    $("#MenuHome").addClass("active");
</script>
<div class="Text">
    <img src="/Areas/Product/Content/Image/BetterHUD/Icon.jpg" alt="Icon" height="150" width="450" />
    <br />
    <h3>BetterHUD简介</h3>
    <hr />
    <p>BetterHUD是由Nulla小组组长@(MemberUri.GetMemberUri(Html, Administrator.小鸟小姐))开发制作的Minecraft Mod，面向Minecraft 1.7.10，基于Forge API。</p>
    <p>BetterHUD原本只是KeyCraft开发计划中的一个附加功能，由于KeyCraft玩家反映更倾向于原版HUD样式，组长遂把此功能独立为一个新Mod，并将其命名为BetterHUD。BetterHUD曾被应用于Nulla小组的UHC活动中。</p>
    <p>BetterHUD旨在将原版Minecraft中的HUD（如体力值条、饥饿度条等）变得更加数据化，更加直面本质，也方便玩家进行精确的计算。同时允许玩家在合适的时候将HUD回退为原版的样式。</p>
    <p>这似乎是Nulla小组第一个完成的Mod（<del>雾</del>）。</p>
    <p>@Html.ActionLink("<<去往下载页", "Download", "Home", new { area = "Product", modname = "BetterHUD" }, null)</p>
    <p>@Html.ActionLink("<<去往图库页", "Image", "Home", new { area = "Product", modname = "BetterHUD" }, null)</p>
</div>

