/*页首导航的样式*/
.content {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: .5em;
    padding-left: 20px;
    padding-bottom: 30px;
}

ul.ul-content {
    font-family: "微软雅黑";
    font-size: 18px;
    list-style-image: url(/Content/_MyImages/_Global/链接.jpg);
}
