/*文本样式*/
.Text {
    margin-top: 40px;
    font-weight: bold;
}

    .Text > h3, h4, h5, h6, span {
        margin-bottom: 10px;
        font-family: "黑体";
    }

    .Text p {
        line-height: 25px;
        white-space: pre-wrap;
        font-family: "仿宋";
        font-size: 16px;
        margin-bottom: 40px;
    }

    .Text span.text-larger {
        font-size: 21px;
    }

/*介绍的文本样式*/
.intro-text-body {
    background-color: lightgoldenrodyellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

/*缩进*/
.p-indent p {
    text-indent: 2em;
}
