
@{
    ViewBag.Title = "404 Not Found";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div style="padding-top: 50px; text-align: center;">
    <img src="/Content/_MyImages/_Global/土拨鼠.gif"/>
    <p style="font-size: 25px;">404 Not Found - 您查找的资源不存在</p>
</div>

