
@{
    ViewBag.Title = "上传图片";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script>
    $("#MenuProduct").addClass("active");
</script>
<div class="container">
    <div class="col-sm-push-2 col-sm-7" style="margin-top: 40px;">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>身份信息确认</legend>
                <p>为确认您的身份信息，请输入密码。</p>
                <div class="form-group">
                    @Html.Label("密码：")
                    @Html.TextBox("password", null, new { type = "password", placeholder = "请输入密码" })
                </div>
                <input type="button" class="btn btn-success" value="提交" />
            </fieldset>
        }
    </div>
</div>
<script>
    $(":button").click(function () {
        $.get("/Global/PasswordValidater?password=" + $(":password").val(), function (response) {
            if (response === "false") {
                if ($("form-group *:last").text() !== "密码输入错误") {
                    $(".form-group").append($("<p>密码输入错误</p>"));
                }
            } else {
                window.location.href = "/@(string.IsNullOrEmpty(this.Request.Params["targetarea"])?string.Empty:$"{this.Request.Params["targetarea"]}/")@this.Request.Params["targetcontroller"]/@this.Request.Params["targetaction"]";
            }
        })
    })
</script>