
@{
    Layout = "~/Areas/Product/Views/Shared/_LayoutProduct.cshtml";

}

<script>
    setNullaCoreTitle("@ViewBag.Title");
</script>
<div>
    @RenderBody()
</div>

@section Navbar
{
    <li>
        <a href="/Product/NullaCore" target="_blank">
            <img src="/Areas/Product/Content/Image/NullaCore/Icon.jpg" height="80px" width="120px" />
        </a>
    </li>
    <li id="MenuHome">@Html.ActionLink("简 介", "Index", "NullaCore", new { area = "Product" }, null)</li>
    <li id="MenuDownload">@Html.ActionLink("下 载", "Download", "Home", new { area = "Product", modname = "NullaCore" }, null)</li>
}